# Automatically normalize line endings for all text-based files
#* text=auto
# Disabled because of https://github.com/mathiasbynens/dotfiles/issues/149 :(

.osx set diff

# Diff images with ~/bin/img-ascii-diff
# https://gist.github.com/rroblak/da71c748cf4be5a5a11b
*.jpg diff=asciidiff
*.jpeg diff=asciidiff
*.png diff=asciidiff
*.gif diff=asciidiff

# Assign language-aware hunk-headers
*.php diff=php
*.html.twig diff=html
*.html diff=html
*.ruby diff=ruby
*.rake diff=ruby
*.js diff="javascript"
